html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.7rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.63);
  padding: 1.5rem 0;
}

/* title */
#title {
  background-color: #ff4c68;
}
.container {
  margin: 0;
  padding-top: 5rem;
}
.container-fluid {
  padding: 3% 15% 3% 15%;
}

.titletext button {
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 12rem;
}
.container-fluid .nav-item {
  font-size: 1.5rem;
  margin-left: 3rem;
}
.container-fluid .navbar-brand {
  font-size: 3.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
@keyframes phone {
  0% {
    transform: translateY(5rem);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(15deg);
  }
}
.iphone {
  transform: rotate(15deg);
  width: 80%;
  animation: phone;
  animation-duration: 3s;
  animation-delay: 0s;
  position: absolute;
  right: 0%;
}

/* features */
#features {
  text-align: center;
  color: #8f8f8f;
  padding: 5% 5%;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  background-color: white;
}

@keyframes slideup {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
.featureslogo {
  font-size: 5rem;
  color: #ef8172;
}
.featureslogo:hover {
  color: #ff4c68;
  animation: slideup;
  animation-duration: 1s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonials img {
  border-radius: 100%;
  width: 15%;
  padding: 1.2rem;
}
/* press */
#press {
  background-color: #ef8172;
  margin: 0;
  padding: 0;
}

.press img {
  padding-bottom: 2rem;
  width: 50%;
  margin: 20px 5px 50px 5px;
  text-align: center;
}
.carousel-item {
  padding: 5% 15%;
}

/* title animation */
@keyframes slideright {
  20% {
    transform: translateX(-2.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
.titletext {
  animation: slideright;
  animation-duration: 3s;
  animation-delay: 0;
}
@keyframes slideleft {
  0% {
    transform: translateX(1.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
.nav-item {
  animation: slideleft;
  animation-duration: 3s;
  animation-delay: 0;
}
@keyframes slidedown {
  0% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.navbar-brand {
  animation: slidedown;
  animation-duration: 3s;
  animation-delay: 0;
}

/* pricing */
.card h3 {
  font-weight: 900;
  font-size: 2rem;
  color: #000;
}
#pricing {
  padding: 6rem;
  text-align: center;
}
.card-column {
  padding: 3% 2%;
}

/* footer */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 8% 15%;
}
.cta h3 {
  font-weight: 900;
  font-size: 4rem;
  color: white;
}
.cta button {
  margin: 2%;
  font-size: 1.5rem;
  font-weight: 600;
}

#footer {
  text-align: center;
  font-size: 1rem;
  color: #8f8f8f;
}
.social {
  color: black;
  font-size: 1.5rem;
  margin: 5rem auto 2rem auto;
}
.social i {
  padding: 1rem;
}
.social i:hover {
  color: #8f8f8f;
}

@media screen and (max-width: 1040px) {
  .iphone {
    position: relative;
    transform: rotate(0);
    animation: slideup;
    animation-duration: 1.5s;
    animation-delay: 0;
  }
  .titletext button {
    margin-bottom: 2rem;
  }
  #title {
    text-align: center;
  }
  .titletext,
  .nav-item,
  .navbar-brand {
    animation: slideup;
    animation-duration: 1.5s;
    animation-delay: 0;
  }
  #features {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  .featureslogo {
    padding: 2rem;
  }
}
